/* banner area style
============================================================================================ */

.banner-area {
    position: relative;
    background: url(../img/bg/banner-bg.png) center no-repeat;
    background-size: cover;
    padding: 150px 0 80px;
    z-index: 1;
    overflow: hidden;
    .banner-thumb {
        position: relative;
        margin-right: -80px;
        .mobile-thumb {
            display: none;
        }
    }
    .banner-content {
        h1 {
            font-size: 80px;
            margin-bottom: 25px;
            span {
                color: $primary-color;
                font-weight: 800;
            }
        }
        p {
            font-size: 22px;
            margin-bottom: 30px;
            padding-right: 15%;
        }

    }
}