/* about area style
============================================================================================ */
.about-area {
    .about-content {
        margin-right: -30px;
        h2 {
            font-size: 60px;
            margin-bottom: 15px;
        }
        p {
            font-size: 22px;
            margin-bottom: 25px;
        }
    }
}

/* CTA area style
============================================================================================ */
.cta-area {
    background: url(../img/bg/cta-bg.png) center no-repeat;
    background-size: cover;
    padding: 150px 0 85px;
    text-align: center;
    h2 {
        font-size: 60px;
        margin-bottom: 20px;
    }
    p {
        font-size: 24px;
        margin-bottom: 30px;
    }
    .primary-btn {
        min-width: 230px;
        background: $white;
        &:hover {
            background: $primary-color;
        }
    }
}

/* video area style
============================================================================================ */
.video-area {
    background: url(../img/bg/video-area-bg.png) center no-repeat;
    background-size: cover;
    .video-box {
        position: relative;
        z-index: 1;
        &:before {
            position: absolute;
            @include gradient(180deg, rgba(15, 13, 57, 0.01) 0%, #FFCA00 100%);
            height: 50%;
            width: 100%;
            content: "";
            left: 0;
            bottom: -40px;
            border-radius: 25px;
            z-index: -1;
            opacity: .5;
        }
        .video-box-inner {
            height: 645px;
            background: url(../img/thumb/video-thumb.png) center no-repeat;
            background-size: cover;
            border-radius: 25px;
            position: relative;
            z-index: 1;
            margin: 0 40px 40px;
            .play-btn {
                position: absolute;
                left: 50%;
                top: 50%;
                @include transform(translate(-50%, -50%));
                &:hover {
                    color: #000;
                }
            }
        }

    } 
}

/* vangold area style
============================================================================================ */
.vangold-area {
    overflow: hidden;
    .section-title {
        text-align: left;
        margin-left: 50px;
    }
    .vangold-slider {
        margin-left: 40px;
        position: relative;
        .slick-arrow {
            position: absolute;
            left: 60%;
            top: -50%;
            width: 100px;
            height: 100px;
            background: #1A224C;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px;
            cursor: pointer;
            @include transition();
            &.next {
                left: 69%;
            }
            &:hover {
                background: $white;
                color: #1A224C;
                @include transform(scale(1.2));
            }
        }
        .slick-slider {
            margin: 0 -10px;
        }
        .slick-slide {
            margin-right: 10px;
            margin-left: 10px;
        }
        .single-vangold-slider {
            @include gradient(180deg, #2B4367 0%, #0F0D3A 100%);
            padding: 30px;
            border-radius: 13px;
            img {
                margin-bottom: 40px;
            }
            h3 {
                font-size: 30px;
                margin-bottom: 20px;
            }
            p {
                margin-bottom: 0;
            }
        }
    }
}


/* cta2 area style
============================================================================================ */
.cta2-area {
    background: url(../img/bg/cta-bg2.png) center no-repeat;
    background-size: cover;
    h2 {
        font-size: 80px;
        margin-bottom: 0;
    }
    .primary-btn {
        font-size: 30px;
        min-width: 375px;
        padding: 38px 40px;
        margin-left: 50px;
        box-shadow: 0 0 50px #ff8b21
    }
}

/* blog area style
============================================================================================ */
.blog-area {
    .single-blog {
        img {
            height: 290px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 30px;
        }
        .blog-content {
            h5 {
                font-size: 20px;
                margin-bottom: 15px;
            }
            .read-more {
                font-size: 16px;
                font-weight: 700;
                color: $primary-color;
                &:hover {
                    color: $white;
                }
            }
        }
    }
}