@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}
@media (min-width: 1680px) {
    .header-area .container, .banner-area .container, .footer-area .container {
        max-width: 1440px;
    }
}

/* max width  */
@media (max-width: 1680px) {
    .vangold-area .section-title {
        margin-left: 0;
    }
    .vangold-area .vangold-slider {
        margin-left: 0;
    }
}

@media (max-width: 1440px) {
    .banner-area .banner-content h1 {
        font-size: 60px;
    }
    .about-area .about-content h2 {
        font-size: 50px;
    }
    .cta-area h2 {
        font-size: 50px;
    }
    .section-title h2 {
        font-size: 50px;
    }
    .vangold-area .section-title {
        margin-left: -80px;
    }
    .vangold-area .vangold-slider {
        margin-left: -80px;
    }
    .vangold-area .vangold-slider .slick-arrow {
        top: -35%;
        width: 70px;
        height: 70px;
    }
    .cta2-area h2 {
        font-size: 50px;
    }
    .cta2-area .primary-btn {
        font-size: 20px;
        min-width: 300px;
        padding: 26px 40px;
    }
    
}

@media (max-width: 1366px) {
    .banner-area .banner-thumb {
        margin-right: 0;
    }
    .banner-area .banner-thumb .banner-pop-content.bottom-position {
        bottom: 0;
    }
    .video-area .video-box .video-box-inner {
        height: 550px;
    }
}

@media (max-width: 1200px) {}

@media (max-width: 1199px) {
    .header-area {
        background: #0F0D3A;
        padding: 10px 0;
    }
    .sticky-wrapper.is-sticky .header-area {
        padding: 5px 0;
    }
    .header-area.active {
        background: #0F0D3A;
    }
    .header-area .navbar .navbar-collapse {
        margin-top: 0;
    }
    .navbar-toggler {
        border: none;
        border-radius: 0px;
        padding: 0px;
        cursor: pointer;
    }
    .navbar-toggler:focus {
        outline: none;
        box-shadow: none;
    }
    .navbar-toggler span {
        display: block;
        width: 25px;
        height: 3px;
        background: #FFCA00;
        margin: auto;
        margin-bottom: 4px;
        transition: all 400ms linear;
        cursor: pointer;
    }
    .header-area .navbar-brand img {
        max-width: 60px;
    }
    .navbar-toggler span:last-child {
        margin-bottom: 0;
    }
    .navbar-toggler[aria-expanded=false] span:nth-child(2) {
        opacity: 1;
    }
    .navbar-toggler[aria-expanded=true] span:nth-child(2) {
        opacity: 0;
    }
    .navbar-toggler[aria-expanded=true] span:first-child {
        transform: rotate(-45deg);
        position: relative;
        top: 7.5px;
    }
    .navbar-toggler[aria-expanded=true] span:last-child {
        transform: rotate(45deg);
        bottom: 6px;
        position: relative;
    }
    .header-area .navbar .navbar-nav .nav-item {
        margin-right: 0;
        text-align: center;
    }
    .header-area .navbar .navbar-nav .nav-item a {
        border-bottom: 1px solid #dddddd3b;
        padding-bottom: 8px;
        margin-bottom: 8px;
        font-size: 16px;
    }
    .navbar-nav {
        padding-top: 15px;
    }
    .header-area .navbar .navbar-nav .nav-item:not(:last-child) {
        margin-right: 0;
        margin-bottom: 10px;
    }
    .header-area .navbar .header-btns li:not(:last-child) {
        margin-right: 0;
        margin-bottom: 16px;
    }
    .banner-area {
        padding: 170px 0 80px;
    }
    .header-area .navbar .header-btn {
        justify-content: center;
        margin-top: 10px;
        padding-bottom: 20px;
    }
}

@media (max-width: 991px) {
    .banner-content {
        margin-bottom: 30px;
    }
    .banner-area .banner-thumb .banner-pop-content.bottom-position {
        bottom: 15%;
        left: 0;
    }
    .about-area .about-content {
        margin-right: 0;
        margin-bottom: 30px;
    }
    .section-padding {
        padding: 80px 0;
    }
    .padding-top-120 {
        padding-top: 80px;
    }
    .padding-bottom-120 {
        padding-bottom: 80px;
    }
    .cta-area {
        padding: 80px 0 80px;
    }
    .video-area .video-box .video-box-inner {
        height: 350px;
    }
    .vangold-area .section-title {
        margin-left: 0;
    }
    .vangold-area .vangold-slider {
        margin-left: 0;
    }
    .vangold-area .vangold-slider .slick-arrow.next {
        left: 75%;
    }
    .cta2-area h2 {
        margin-bottom: 50px;
    }
    .cta2-area .primary-btn {
        margin-left: 0;
    }
    .cta2-area {
        text-align: center;
    }
    .blog-area .single-blog img {
        width: 100%;
    }
    .single-blog {
        margin-bottom: 40px;
    }
    .banner-area .banner-thumb {
        padding-right: 0;
    }
}



@media (max-width: 767px) {
    br {
        display: none;
    }
    .banner-area .banner-content h1 {
        font-size: 48px;
    }
    .banner-area .banner-thumb .banner-pop-content {
        position: inherit;
        width: 100%;
    }
    .banner-area .banner-thumb img {
        margin: 30px 0;
    }
    .banner-area {
        padding: 150px 0 80px;
    }
}

@media (max-width: 575px) {

}

@media (max-width: 425px) {
    .banner-area .banner-content h1 {
        font-size: 40px;
    }
    .about-area .about-content h2 {
        font-size: 36px;
    }
    .cta-area h2 {
        font-size: 36px;
    }
    .section-title h2 {
        font-size: 36px;
    }
    .video-area .video-box .video-box-inner {
        height: 230px;
        margin: 0 15px 15px;
    }
    .video-area .video-box:before {
        bottom: -20px;
    }
    .vangold-area .vangold-slider .slick-arrow {
        top: auto;
        bottom: -28%;
        left: 0;
    }
    .vangold-area {
        padding-bottom: 150px!important;
    }
    .vangold-area .vangold-slider .slick-arrow.next {
        left: 30%;
    }
    .cta2-area h2 {
        font-size: 36px;
    }
    .cta2-area .primary-btn {
        font-size: 20px;
        min-width: 100%;
        padding: 16px 40px;
    }
    .footer-area .footer-widget .form-group .primary-btn {
        position: inherit;
        right: 0;
        top: 15px;
    }
}

@media (max-width: 375px) {
    
}